<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Empêche l'installation sur Android TV -->
    <uses-feature android:name="android.software.leanback"
                  android:required="false" />

    <!-- Empêche l'installation sur Wear OS -->
    <uses-feature android:name="android.hardware.type.watch"
                  android:required="false" />

    <!-- Empêche l'installation sur Android Auto -->
    <uses-feature android:name="android.hardware.type.automotive"
                  android:required="false" />

    <!-- Empêche l'installation sur ChromeOS si tu veux -->
    <uses-feature android:name="android.hardware.type.pc"
                  android:required="false" />
				  
	<!-- Déclare que l'app supporte uniquement les écrans mobiles/tablettes -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />
				  
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStockManager">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
